{% load static %}
<!Doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Great pictures</title>
<meta name="viewport" content="width=device-width initial-scale=1.0">
<link rel="shortcut icon" type="image/gif" href="../static/images/favicon.gif" />
<link rel="stylesheet" href="../static/css/screen.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../static/css/lightbox.css" type="text/css" media="screen" />
<link href='http://fonts.googleapis.com/css?family=Fredoka+One|Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="..///maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="..///maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<script src="..///static/code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="..///static/code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="//static/code.jquery.com/jquery-1.7.2.min.js"></script>
<script src="../static/jquery.js"></script>
<script src="../static/jquery.smooth-scroll.min.js"></script>
<link rel="stylesheet" type="text/css" href="../static/shadowbox.css">
<script type="text/javascript" src="../static/shadowbox.js"></script>
<script type="text/javascript">
Shadowbox.init();
</script>
</head>
<body>
<div id="content">
<div class="section" id="overview">
	<p class="lead">Do not hurry be favoured with great pictures</p>
</div>
<hr>
<div class="section" id="example">
	<h2>Great pictures - move trough slide-show with left & right key arrows on keyboard and scroll with left mouse pointer</h2>
   <div class="imageRow">
  	<div class="set">
  	  <div class="single first">
  		  <a href="../static/examples/KicenjeNeveste.jpg" rel="lightbox[plants]" title="Kicenje Neveste - Click on the right arrow or use right key on keyboard to move forward."><img src="../static/examples/thumb-1.jpg" alt="Plants: image 1 0f 11 thumb" /></a>
  		</div>
      <div class="single">
  		  <a href="../static/examples/Djordje-Krstic-Babakaj.jpg" rel="lightbox[plants]" title="Djordje Krstic Babakaj." ><img src="../static/examples/thumb-2.jpg" alt="Plants: image 2 0f 11 thumb" /></a>
      </div>
      <div class="single">
  		  <a href="../static/examples/Krunisanje-cara-Dusana-delo-Alfona-Muhe-proslavljenog-ceskog-slikara.jpg" rel="lightbox[plants]" title="Krunisanje cara Dusana delo Alfona Muhe proslavljenog ceskog slikara."><img src="../static/examples/thumb-3.jpg" alt="Plants: image 3 0f 11 thumb" /></a>
      </div>
      <div class="single last">
  		  <a href="../static/examples/Milan-Milovanovic-Plava-vrata-1917..jpg" rel="lightbox[plants]" title="Milan Milovanovic Plava vrata 1917."><img src="../static/examples/thumb-4.jpg" alt="Plants: image 4 0f 11 thumb" /></a>
      </div>
      <div class="single last">
  		  <a href="../static/examples/Milos-Tenkovic-Predeo-sa-kravama.jpg" rel="lightbox[plants]" title="Milos Tenkovic Predeo sa kravama"><img src="../static/examples/thumb-5.jpg" alt="Plants: image 5 0f 11 thumb" /></a>
      </div>
      <div class="single last">
  		  <a href="../static/examples/Nadezda-Petrovic-kosovski-bozuri-Gracanica-1913..jpg" rel="lightbox[plants]" title="Nadezda Petrovic kosovski bozuri Gracanica 1913."><img src="../static/examples/thumb-6.jpg" alt="Plants: image 6 0f 11 thumb" /></a>
      </div>
      <div class="single last">
  		  <a href="../static/examples/Paja-Jovanovic_Zenidba-cara-Dusana.jpg" rel="lightbox[plants]" title="Paja Jovanovic Zenidba cara Dusana"><img src="../static/examples/thumb-7.jpg" alt="Plants: image 7 0f 11 thumb" /></a>
      </div>
      <div class="single last">
  		  <a href="../static/examples/Paja-Jovanovic-Krunisanje-Cara-Dusana.jpg" rel="lightbox[plants]" title="Paja Jovanovic Krunisanje Cara Dusana"><img src="../static/examples/thumb-8.jpg" alt="Plants: image 8 0f 11 thumb" /></a>
      </div>
      <div class="single last">
  		  <a href="../static/examples/Parabola-o-zitnicamaSopocani.jpg" rel="lightbox[plants]" title="Parabola o zitnicama Sopocani"><img src="../static/examples/thumb-9.jpg" alt="Plants: image 9 0f 11 thumb" /></a>
      </div>
      <div class="single last">
  		  <a href="../static/examples/Uros-Predic-Sveti-Sava-blagosilja-Srpcad.jpg" rel="lightbox[plants]" title="Uros Predic Sveti Sava blagosilja Srpcad"><img src="../static/examples/thumb-10.jpg" alt="Plants: image 10 0f 11 thumb" /></a>
      </div>
<div class="single last">
  		  <a href="../static/examples/Proslava.jpg" rel="lightbox[plants]" title="Proslava - Click on the left arrow or use left key on keyboard to move backward."><img src="../static/examples/thumb-11.jpg" alt="Plants: image 10 0f 11 thumb" /></a>
      </div>
  </div>
<div id="sidebar">
	<ul id="nav">
		<li><a href="#overview" class="first">Move Up</a></li>
	</ul>
</div>
<hr>
If you like this visit :<a href="http://www.narodnimuzej.rs/en/" target="_blank"/> Narodni Muzej - National Museum</a>
<hr>
<p>|Disclaimer| I created this site for educational purposes
and disclaim any abuses for commercial purposes |Sonem1-2016|</p>

<!-- Great pictures by Sonem1 Disclaimer - I created this site for educational purposes
and disclaim any abuses for commercial purposes -->
</body>
</html>
